```
./scripts/gen-protos.sh
cmake -S cpp-service -B build/cpp-service
-- The CXX compiler identification is GNU 13.3.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++ - skipped
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Found PkgConfig: /usr/bin/pkg-config (found version "1.8.1")
-- Checking for module 'libzmq'
--   Package 'libzmq', required by 'virtual:world', not found
-- Configuring incomplete, errors occurred!
```
